*{
padding: 0;
margin: 0;
box-sizing: border-box;

}header{
    background-color: darkblue;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
#logo{
    width: 32px;
}
nav ul{
    display: flex;
flex-direction: row;
align-items: center;
gap: 24px;
list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
}
input{
    padding: 8px;
    border: none; 
  width: 100%;  
}
#searchholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
   background-color:white;
   padding-left: 16px;
   padding-right: 16px;
border-radius: 8px;
}
#searchholder img{
    width: 20px;
    height: 20px;
    opacity: 70%;
    border-radius: 18%;
     
}

